version: '3.9'
services:
  db:
    container_name: wol-postgres-db
    image: postgres:13.2
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/docker_postgres_init.sql:/docker-entrypoint-initdb.d/docker_postgres_init.sql
      - wol-web-db:/var/lib/postgresql/data
    network_mode: 'host'
  backend:
    container_name: wol-server
    image: golang:1.16.3-alpine3.13
    restart: always
    volumes:
      - ./entrypoint.sh:/entrypoint.sh
      - ./backend:/wol_backend
      - ./frontend/dist:/frontend/dist
    entrypoint: sh /entrypoint.sh
    depends_on:
      - db
    network_mode: 'host'

volumes:
  wol-web-db:
